doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./css/fonts/stylesheet.css")
        link(rel="stylesheet" href="./css/normalize.css")
        link(rel="stylesheet" href="./css/style.css")
        title Tere
    body
        header.header
            .container
                .header__inner
                    .header__logo
                        img(class="header__logo-img" src="./img/header-logo.svg" alt="tere")
                    button(class="header__button-open")
                        span.header__button-text open menu
                        img(class="header__button-img" src="./img/header-open.svg")
                    nav(class="header__menu")
                        button(class="header__button-close")
                            span.header__button-text close menu
                            img(class="header__button-img" src="./img/header-close.svg")
                        ul.header__list
                            li.header__item
                                a(class="header__item-link" href="#") Home
                            li.header__item
                                a(class="header__item-link" href="#") How tere works
                            li.header__item
                                a(class="header__item-link" href="#") Tere benefits
                            li.header__item
                                button(class="header__button") Help center
        section.top
            .container
                .top__inner
                    .top__content
                        h1.top__title DOWNLOAD APP, SAVE MONEY, MAKE FRIENDS!
                        p.top__description Its simple and its free. Play your part in reducing Carbon Footprint and help Mother Nature to sustain its beauty. So what are you waiting for ? Lets ride together
                        .top__buttons
                            button(class="top__button top__button--android") Download
                            button(class="top__button top__button--ios") Download
                    .top__picture
                        img(class="top__img" src="./img/car-map.svg" alt="car")
        section.get
            .container
                .get__inner
                    h2.get__title Let’s go. Get a link to download the app.
                    form.get__form
                        input(class="get__form-input" type="text" placeholder="Enter mobile phone number")
                        button.get__form-button APPLY TO DRIVE
        section.how
            .container
                .how__inner
                    h2.how__title How <span class="how__title-name">tere</span> works
                    p.how__description Download and install the tere app. Enter your phone number and make your user account. when approved you may start driving.
        section.benefits
            .container
                .benefits__inner
                    h2.benefits__title
                        span.benefits__title-name Tere
                        |  benefits
                    .benefits__item
                        .benefits__content
                            h3.benefits__item-title
                                span.benefits__item-number 01.
                                | Flexible working hours
                            p.benefits__item-description You can decide when, and how muchtime you want to drive.
                        img(class="benefits__item-img" src="img/benefits-clock.svg" alt="Clock")
                    div(class="benefits__item benefits__item--reverse")
                        .benefits__content
                            h3.benefits__item-title
                                span.benefits__item-number 02.
                                | Earnings
                            p.benefits__item-description By driving with tere you can earn more.
                        img(class="benefits__item-img" src="img/benefits-money.svg" alt="Earnings")
                    .benefits__item
                        .benefits__content
                            h3.benefits__item-title
                                span.benefits__item-number 03.
                                | Customer support 24/7
                            p.benefits__item-description Tere is a local service provider and we are proud to support you in your local language. We are proud to be at your service 24/7!
                        img(class="benefits__item-img" src="img/benefits-support.svg" alt="support")
        footer.footer
            .container
                .footer__inner
                    .footer__logo
                        img(class="footer__logo-img" src="./img/footer-logo.svg" alt="tere")
                    .footer__about
                        h3.footer__about-us Be our friend
                        p.footer__about-address 3, season park, jakarta
                        a(class="footer__about-mail" href="mailto:support@foodyar.com") support@foodyar.com
                        a(class="footer__about-tel" href="tel:+021 - 1111 - 2222") 021 - 1111 - 2222
                    div(class="top__buttons footer__buttons")
                        button(class="top__button footer__button top__button--android") Download
                        button(class="top__button footer__button top__button--ios") Download
            hr.footer__line
            h4.footer__owner All Rights Reserved tere by Codematics 2022
        script(src="script/script.js")